.custom-button {
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px;
  font-size: 1rem;
  color: white;
  border: none;
  font-weight: 200;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;

  &:hover {
    animation-direction: alternate;
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.google {
    background-color: #1089ff;
  }
  &.signInAndSignUp {
    background-color: #f58840;
  }

  &.inverted {
    background-color: white;
    color: black;
    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }
}
.box-shadow {
  box-shadow: 0px 9px 14px -5px #b5b5b5;
}
